.perfect-grid__over {
  cursor: pointer;
  opacity: 0;
  transition: 300ms ease;
  &:hover {
    opacity: 1;
  }
}

.over {
  padding: 30px;
  font-family: arial;
  letter-spacing: 3px;
  color: white;

  background-color: rgba(0,0,0,.2);

  h2 {
    font-size: 25px;
    font-weight: 300;
  }

  p {
    font-size: 16px;
  }

}
