::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-button,
::-webkit-resizer {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.15);
}
