.perfect-grid {

  box-sizing: border-box;
  *, *:before, *:after {
    box-sizing: inherit;
  }

  display: flex;
  flex: 1;
  // max-width: 100%;
  // width: 100%;
  //flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;

  &__link {
    cursor: pointer;
  }

  &__rows {
    display: flex;
  }

  &__row {
    display: inline-flex;
    flex-wrap: wrap;
  }

  // &__over {
    // position: absolute;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    // z-index: 2;
  // }

  &__item {
    position: relative;
    display: flex;
    overflow: hidden;
    > * {
      position: absolute;
      z-index: 2;
    }
  }

  &__media {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    img, video {
      display: block;
      height: 100%;
      position: relative;
      z-index: 1;
      background-color: black;
    }
  }

}
