html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
html, body {
  padding: 0;
  margin: 0;
  background-color: white;

  display: flex;
  flex: 1;
  width: 100%;
  // height: 100%;
  //overflow: hidden;

  font-family: arial;
  letter-spacing: 2px;
}

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 3px;
}

h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 20px;
}

// ::-webkit-scrollbar {
//   display: none;
// }

.app, .example {
  display: flex;
  flex: 1;
  width: 100%;
  // height: 100%;
}

.example {
  flex-direction: column;

  &__title {

    position: relative;
    overflow: hidden;
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
    padding: 200px 0;
    // background-color: rgba(0,0,0,.03);
    background-color: #E74C3C;
    color: white;

    &__content {
      position: relative;
      z-index: 2;
    }

    h1 {
      font-size: 60px;
      margin-bottom: 10px;
    }

    .perfect-grid {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
      opacity: .1;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0 0 0;
    > * {
      margin: 0 10px;
    }
    a {
      color: white;
      font-size: 14px;
      &:hover {
        text-decoration: none;
      }
    }
  }

  &__usage {
    background-color: #2C3E50;
    padding: 30px;
    color: white;
    h2 {
      margin-bottom: 20px;
    }
    .gist {
      padding: 0 20px;
      letter-spacing: 0px;
    }
  }

  &__settings {
    width: 100%;
    // min-height: 150px;
    padding: 50px 0;

    form {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input[type="range"] {
      width: 300px;
    }

    fieldset {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 30px;
      border: none;
      text-align: center;

      p {
        margin: 15px 0 0 0;

        span {
          font-weight: bold;
        }
      }
    }
  }
}

input[type=range]{
    -webkit-appearance: none;
}
input[type=range]::-webkit-slider-runnable-track {
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: hsl(0, 0, 60%);
    margin-top: -5px;
    // background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: rgba(0,0,0,.1);
}

.perfect-grid__over {
  cursor: pointer;
  opacity: 0;
  transition: 300ms ease;
  &:hover {
    opacity: 1;
  }
}

.element {
  // border: 10px solid #E74C3C;
  background-color: #E74C3C;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 10%;
}

.over {
  padding: 30px;
  color: white;

  background-color: rgba(0,0,0,.2);

  h2 {
    font-size: 25px;
    font-weight: 300;
    text-align: left;
  }

  p {
    font-size: 16px;
  }

}
